body {
  margin: 25px;
}
.rm-select select {
  box-sizing: content-box;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #404040;
  font-size: 14px;
  height: 17px;
  padding: 8px;
}
.rm-month-select span:first-child select {
  border-radius: 0 0 0 0;
}
.rm-month-select span:last-child select {
  border-radius: 0 0 0 0;
  border-left: none;
}
.rm-select {
  position: relative;
}
.rm-select select {
  background: #fafafa;
  padding-right: 24px;
}
.rm-select:after {
  color: #404040;
  content: "\25BE";
  font-size: 0.85em;
  right: 7px;
  pointer-events: none;
  position: absolute;
  top: 4px;
}
pre {
  background-color: #202024;
  color: #e0e0e4;
  font-family: monospace;
  margin: 24px 0 0 0;
  padding: 10px;
}
