<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<style>
		@import url(https://fonts.googleapis.com/css?family=Open+Sans);




.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 350px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

#buttons {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

#buttons:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}



.container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1 em;
}

#btn_download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 22px;
}

/* Darker background on mouse-over */
#btn_download:hover {
  background-color: RoyalBlue;
}

nav {
	max-width: 960px;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: 0 auto;
	padding: 60px 0;
}

nav ul {
	text-align: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 18px;
	font-family: "Open Sans";
	text-transform:uppercase;
	color: rgba(0, 35, 122, 0.5);
	font-size: 18px;
	text-decoration: none;
	display: block;
}

nav ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 35, 122, 0.7);
}

		</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Churn Prediction</title>
    <meta name="description" content="This is a Flask (Python microframework) use Datatables.js Ajax source application.">
    <meta name="author" content="rosickey">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
</head>

<script>
$(document).ready(function() {

	$('#example').dataTable( {

		"sAjaxSource": "{{ url_for('get_server_data') }}",

	});
	
} );

// $(".btn-gradient").click(function() {
// 	var month = $("month").val();
// 	var year = $("year").val();
// 	var product = $("mobile").val();
	
// 	$('#example').dataTable( {
// 		"sDom": "<'row-fluid'<'span6 toolbar'><'span6'>r>t<'row-fluid'<'span6'f><'span6'p>>",
// 		"bProcessing": true,
// 		"bjQueryUI": true,
// 		"sAjaxSource": "{{ url_for('get_server_data')}}" + "?month=" + month + "&year=" + year + "&product=" + product 
// 	});

// })

</script>

<body>

		<nav>
				<ul>
					<li>
						<a href="#">Churn Prediction</a>
					</li>
					<li>
						<a href="#">Coupon Reccomendation</a>
					</li>
					<li>
						<a href="#">Instruction</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<div class = "container">
				<h1>Churn Prediction</h1>
				</div>
			<div class = "container">

					<form class="form-inline" method="GET" action="{{ url_for('predict') }}">
							<div class="form-group">
								<div class="input-group">
										<span class="input-group-addon">Please Select Month: </span>
												<select name="month" class="selectpicker form-control">
													{% for o in data %}
													<option value="{{ o.name }}">{{ o.name }}</option>
													{% endfor %}
												</select>
								</div>
								<br/>
								<div class="input-group">
									<span class="input-group-addon">Please Select Year: </span>
											<select name="year" class="selectpicker form-control">
												{% for o in year %}
												<option value="{{ o.name }}">{{ o.name }}</option>
												{% endfor %}
											</select>
							</div>
							</div>
							<br/>
							<div class="container">
									<button type="submit" class="btn-gradient cyan" name="product" value="mobile">Mobile</button>
									<button type="submit" class="btn-gradient orange" name="product" value="electricity">Electricity</button>
									<button type="submit" class="btn-gradient blue" name="product" value="data">Data</button>
									<button type="submit" class="btn-gradient purple" name="product" value="emoney">E-money</button>
									<button type="submit" class="btn-gradient green" name="product" value="insurance">Insurance</button>
									<button type="submit" class="btn-gradient yellow" name="product" value="water">Water</button>
							</div>
						</form>
			</div>
	<div class="container">
		<h4>{{ information }}</h4>
		<br>
		<form class="form-inline" method="GET" action="{{ url_for('download') }}">
		Download as CSV : <button id="btn_download"><i class="fa fa-download"></i> Download</button>
	</form>
		<br/>
	<table class='table' id='example'>
		<thead>
			<tr>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
	</table>
	</div>

	<div class="container">

		<div class="testbox">
			<h2>Coupon Sampling</h2>
		  
			<form method="GET" action="{{ url_for('test2') }}">
				<hr>
			  <div class="accounttype">
				<input type="radio" value="randomized" id="radioOne" name="options" checked/>
				<label for="radioOne" class="radio" chec>Randomized</label>
				<input type="radio" value="ordered" id="radioTwo" name="options" />
				<label for="radioTwo" class="radio">Ordered</label>
			  </div>
			<hr>
			Please enter number of coupon!
			<input type="text" name="coupon" id="coupon" placeholder="20,000" required/>
			<hr>
			 <button id="buttons">Go</button>
			</form>
		  </div>

	</div>


</body>


</html>